.discoverContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    color: white;
    gap: 3rem;
    width: 100vw;
    height: 80vh;
    padding-bottom: 5rem;
}

.iconsContainer{
    display: flex;
    gap: 2rem;
}

.discoverContainer section{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.discoverContainer section h1{
    font-weight: 500;
    font-size: 55px;
}

.discoverContainer section h4{
    font-weight: 100;
    font-size: 16px;
}

.covers{
    width: 15%;
}

